---
import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../components/icons/Code.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ProfileShare from "../components/icons/ProfileShare.astro";
import TrendingUpIcon from "../components/icons/trendingup.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import ContactWork from "../components/SectionWork.astro";
import InfinityScroll from "../components/InfinityScroll";
import Proyectos from "../components/Proyectos.astro";
import SectionContainerTitle from "../components/SectionContainerTitle.astro";
---

<Layout
	title="Portfolio | Angel Urrutia"
	description="Contrata a Angel Urrutia para crear tu pagina web o app movil Desarollador web Programador Web Especializado"
>
	<main
		id="inicio"
		class="w-full flex flex-col gap-10 items-center max-w-5xl px-5 xl:max-w-6xl mt-[5.5rem]"
	>
		<Hero />

		<SectionContainerTitle id="proyectos">
			<CodeIcon class="size-8" />
			 Proyectos
		</SectionContainerTitle>
		<Proyectos />

		<SectionContainer>
			<ContactWork />
		</SectionContainer>

		<SectionContainer id="Skills" class="mt-20">
			<SectionContainerTitle>
				<TrendingUpIcon class="size-8 mt-2" />
				 Skills
			</SectionContainerTitle>
			<InfinityScroll />
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="mt-20">
			<SectionContainerTitle>
				<ProfileShare class="size-8 mt-1" />
				 Sobre Mí
			</SectionContainerTitle>
			<AboutMe />
		</SectionContainer>

		<SectionContainer>
			<Footer />
		</SectionContainer>
	</main>
</Layout>
