<section
    class="mb-28 max-w-[45rem] mx-auto text-center leading-9 px-2 sm:mb-40 scroll-mt-28"
>
    <p
        class="[&>p]:mb-1 [&>p>strong]:text-yellow-400 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-italic text-pretty order-3 md:order-2"
    >
        <p class="">
            Mi primera experiencia en programación fue a los 14 años, cuando
            creé un bot de Discord utilizando JavaScript. Desde ese momento, me
            interesé en la programación. Después de completar el bachillerato,
            tomé la decisión de seguir este interés y
        </p>

        <strong>
            me inscribí en el Bootcamp de programación de <a
                class="hover:underline text-yellow-500"
                href="https://app.ed.team/cursos"
                target="_blank">EDteam</a
            > y conocí el mundo del Desarrollo Web. Durante mi tiempo en el
            Bootcamp, adquirí habilidades prácticas en varias tecnologías
            Frontend, y trabajé en numerosos proyectos
        </strong>
        <p>
            personales que me permitieron mejorar mis habilidades y aprender
            sobre la creación de experiencias de usuario atractivas.
            Actualmente,

            <strong>
                estoy buscando un puesto como desarrollador donde pueda aplicar
                mis conocimientos y seguir creciendo profesionalmente. Mi
                objetivo a largo plazo es convertirme en un Desarrollador
                FullStack.
            </strong>
        </p>
    </p>
</section>
