---
const personalImageAlt = "Angel Urrutia";

import Badge from "../components/Badge.astro";
import EmailIcon from "../components/icons/Email.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
---

<section class="w-full grid auto-rows-[172px] grid-cols-6 gap-4">
    <div
        class="row-span-2 col-span-6 rounded-3xl bg-white relative flex flex-col overflow-hidden gap-10 justify-end p-6 xl:col-span-4 lg:items-end sm:flex-row lg:p-10 animate-fade-down animate-once animate-duration-[530ms]"
    >
        <div
            class="absolute bg-gradient-to-t from-dusky-alt to-transparent top-0 left-0 bottom-0 right-0 z-[1]"
        >
        </div>
        <img
            class="absolute size-full object-cover left-0 top-0 bg-white dark:bg-raisin-black"
            src="/IMG_0659.webp"
            alt={personalImageAlt}
            title={personalImageAlt}
        />
        <div
            class="w-full flex flex-col z-[2] absolute left-0 bottom-0 leading-4 p-5 text-moonlit"
        >
            <span class="text-3xl font-bold leading-7">Angel Urrutia</span><span
                class="text-lg font-medium leading-9">Front-end Developer</span
            ><div class="flex flex-wrap items-center gap-2 mt-1 lg:gap-3">
                <SocialPill
                    target="_blank"
                    href="https://www.linkedin.com/in/angelurrutdev/"
                >
                    <LinkedInIcon class="size-6" />
                     LinkedIn
                </SocialPill>

                <SocialPill
                    target="_blank"
                    href="https://github.com/angelurrutdev"
                >
                    <GitHubIcon class="size-6" />
                     GitHub
                </SocialPill>
                <SocialPill href="mailto:angeljurrut@gmail.com">
                    <EmailIcon class="size-6" />
                     Email
                </SocialPill>
            </div>
        </div>
    </div>

    <div
        class="row-span-1 col-span-6 rounded-3xl bg-white relative flex flex-col overflow-hidden border-2 border-transparent gap-2 p-7 dark:bg-raisin-black xl:col-span-2 lg:p-7 animate-fade-down animate-once animate-duration-[530ms] animate-delay-[150ms]"
        style="opacity: 1; transform: none;"
    >
        <h2 class="text-2xl font-bold z-[1]">Sobre mi</h2>
        <p class="text-base w-full z-[1] opacity-70">
            Desarollador Web con experiencia en el diseño, desarollando y
            manteniendo aplicaciones web.
        </p>
    </div>
    <div
        class="row-span-1 col-span-3 rounded-3xl bg-white relative flex flex-col overflow-hidden border-2 border-transparent gap-2 items-center justify-center dark:bg-raisin-black xl:col-span-1 animate-fade-down animate-once animate-duration-[550ms] animate-delay-130"
    >
        <p class="text-7xl z-[1] font-bold flex items-center gap-1">
            <span>+</span><span>1</span>
        </p><p class="text-sm font-semibold max-w-fit opacity-70 z-[1]">
            Años de experiencia
        </p>
        <svg
            {...Astro.props}
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="w-full h-full absolute -right-10 -bottom-12 opacity-5 bg-moonlit dark:bg-raisin-black"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
            ><path fill="none" d="M0 0h24v24H0z"></path><path
                d="M14.06 9.94 12 9l2.06-.94L15 6l.94 2.06L18 9l-2.06.94L15 12l-.94-2.06zM4 14l.94-2.06L7 11l-2.06-.94L4 8l-.94 2.06L1 11l2.06.94L4 14zm4.5-5 1.09-2.41L12 5.5 9.59 4.41 8.5 2 7.41 4.41 5 5.5l2.41 1.09L8.5 9zm-4 11.5 6-6.01 4 4L23 8.93l-1.41-1.41-7.09 7.97-4-4L3 19l1.5 1.5z"
            ></path></svg
        >
    </div>
    <div
        class="row-span-1 col-span-3 rounded-3xl bg-white dark:bg-raisin-black overflow-hidden border-2 border-transparent xl:col-span-1 flex items-center justify-center relative animate-fade-down animate-once animate-duration-[550ms] animate-delay-330"
    >
        <img
            class="w-8 z-[2]"
            src="/favicon.svg"
            alt="memoji"
            title="memoji"
        /><div
            class="size-20 bg-[#98d0ff] absolute z-[1] rounded-full bg-opacity-30 border-2 border-white animate__animated animate__pulse animate__infinite infinite animate__fast"
        >
        </div><div
            class="w-full h-8 backdrop-blur-sm absolute left-0 bottom-0 z-[2] flex items-center justify-center text-left text-opacity-70"
            style="opacity: 1;"
        >
            <span class="text-xs font-medium">De Venezuela</span>
        </div>
    </div>
</section>
