<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="flex items-center font-medium bg-moonlit dark:bg-gray-cool px-2 py-1 rounded-lg gap-2 hover:scale-[1.1] transition-transform duration-200 text-midnight dark:text-moonlit"
>
    <slot />
</a>
